/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
    font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #f8f9fa;
}

:root {
    /*color theme overwrite*/
    --primary: #78C2AD;
    --secondary: #F3969A;
}

a {
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}

.icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 20% auto; 
    padding: 20px;
    padding-top: 15px;
    border: 1px solid #888;
    width: 80%; 
    text-align: center;
}

.modal-header {
    border: none !important;
    padding: 0 !important;
}
.modal-body {
    border: none !important;
    margin-top: 0;
}

.modal-footer {
    border: none !important;
}

.modal-footer button {
    margin: 0 auto;
    min-width: 80px;
}

.close {
    font-size: 2.5rem;
}

.submit-button{
    background-color: var(--secondary);
    border-color: var(--secondary);
    display: block;
    margin: 0 auto;
    min-width: 100px;
}

    .submit-button:hover {
        background-color: var(--secondary);
        border-color: var(--secondary);
    }

.register-container {
    display: none;
}

.login-container {
    display: block;
}