/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
    font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #f8f9fa;
}

:root {
    /*color theme overwrite*/
    --primary: #78C2AD;
    --secondary: #F3969A;
}

a {
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}

.icon {
    width: 30px;
    height: 30px;
}